.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
public/storage
storage/pail
storage/*.key
.phpunit.result.cache
*.log
.DS_Store
Thumbs.db
docker/nginx
README.md
